@media (min-width: 320px) {
  .container {
    margin: 0 auto;
    width: 320px;
  }
  .nav-page {
    display: flex;
  }
  .nav-image__img-tablet {
    display: none;
  }
  .nav-image__img-desktop {
    display: none;
  }
  .intro-page {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
  }
  .intro__text-capital {
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    position: absolute;
    margin: 20px 36px;
    font-family: "OswaldNew", sans-serif;
  }
  .intro__text {
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 14px;
    position: absolute;
    margin: auto 61px;
    top: 205px;
    text-transform: uppercase;
    font-family: "OswaldNew", sans-serif;
  }
  .intro-page__image {
    background-color: #68b738;
    width: 320px;
    height: 302px;
  }
  .intro-page__image-image {
    position: relative;
    opacity: 0.3;
  }
  .intro__image {
    position: absolute;
    top: 235px;
    margin: 20px;
  }
  .intro__image-tablet {
    display: none;
  }
  .intro__image-desktop {
    display: none;
  }
  .intro-page__image-image-desktop {
    display: none;
  }
  .intro__button {
    font-family: "OswaldNew", sans-serif;
    padding: 8px 44px;
    background-color: #68b738;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    border: 0px;
    margin: 20px;
    color: white;
    text-transform: uppercase;
    margin-top: 140px;
  }
  .product-item {
    margin: 20px;
    padding: 20px;
    background-color: #f2f2f2;
  }
  .product-item__text {
    font-family: "OswaldNew", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    width: 100px;
  }
  .product-item__text-slim {
    display: flex;
  }
  .product-item__text-slim__image {
    margin: 20px 0;
  }
  .product-item__text-capital {
    font-family: "OswaldNew", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
    margin: 5px 20px;
  }
  .product-item__text-info {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding-bottom: 23px;
    border-bottom: 1px solid #d9d9d9;
  }
  .product-item__image-pro {
    position: absolute;
    top: 10px;
    right: -8px;
  }
  .product-item__image-pro-tablet {
    display: none;
  }
  .product-item__image-slim {
    position: absolute;
    top: -2px;
    right: 5px;
  }
  .product-item__text-slim__image-image-tablet {
    display: none;
  }
  .product-item__image-content {
    border: 1px solid #68b738;
    background-color: #68b738;
    border-radius: 30px;
    width: 48px;
    height: 48px;
    position: relative;
  }
  .product-item__head {
    display: flex;
    width: auto;
    height: auto;
  }
  .description-list {
    padding: 0;
  }
  .description-list__item {
    display: flex;
    list-style: none;
  }
  .description-item__text-title {
    font-family: "OswaldNew", sans-serif;
    font-weight: 400;
    font-size: 36px;
    margin: auto 20px;
  }
  .descriptiom-list__item-image {
    padding: 20px;
    margin: 20px;
    background-color: #68b738;
    text-align: center;
    width: 30px;
    height: 30px;
  }
  .description-list__image {
  }
  .description-list__item-text {
    font-family: "Ariasl" sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin-top: 20px;
  }
  .description-list__item-text-number {
    display: none;
  }
  .example-page {
    background-color: #f2f2f2;
  }
  .report-intro {
    padding: 20px;
  }
  .report-intro__text-capital {
    font-family: "OswaldNew", sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-align: left;
    margin-top: 0px;
  }
  .report-intro__text {
    font-family: "OswaldNew", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
  }
  .result {
    display: flex;
    justify-content: center;
  }
  .result-item {
    text-align: center;
    margin: 5px;
  }
  .result-item__text-capital {
    font-family: "OswaldNew", sans-serif;
    border: 1px solid #d9d9d9;
    padding: 14px 30px 17px 30px;
    border-bottom: 0;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    margin-right: 32px;
  }
  .result-item__text-capital-day {
    font-family: "OswaldNew", sans-serif;
    border: 1px solid #d9d9d9;
    padding: 14px 16px 17px 16px;
    border-bottom: 0;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
  }
  .result-item__text-info {
    position: relative;
  }
  .result-item__text {
    font-family: "Arial" sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    position: absolute;
    top: -42px;
    left: 27px;
    color: #444444;
    width: 50px;
  }
  .result-item__text-day {
    font-family: "Arial" sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    position: absolute;
    top: -42px;
    right: 33px;
    color: #444444;
  }
  .progress__text {
    font-family: "OswaldNew", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
  .progress__image-image {
    margin: 30px;
  }
  .progress__image-image-tablet {
    display: none;
  }
  .address-text {
    font-family: "OswaldNew", sans-serif;
    display: flex;
    justify-content: left;
  }
  .address-text__text-capital {
    font-family: "OswaldNew", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    text-align: right;
    margin: 10px;
  }
  .address-text__text {
    font-family: "Arial", sans-serif;
    color: #444444;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
  }
  .address__image {
    width: 100%;
  }
  .address__image-tablet {
    display: none;
  }
  .address__image-desktop {
    display: none;
  }
  .footer-logo {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #d9d9d9;
    margin: 10px;
  }
  .footer-logo__image {
    margin: 40px auto;
  }
  .footer-social {
    display: flex;
    justify-content: center;
    margin: 50px;
  }
  .footer-social__image {
    margin: 0 20px;
  }
  .footer-tag {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-top: 1px solid #d9d9d9;
  }
  @font-face {
    font-family: "OswaldNew";
    src: url(/fonts/Oswald-VariableFont_wght.ttf) format("truetype");
  }
  .toggler-page {
    position: relative;
    width: 200px;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
  }
  .toggle.on {
    width: 60px;
    opacity: 0;
  }
  .toggle.off {
    width: 100px;
    opacity: 0;
  }
  label {
    font-family: "OswaldNew", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
  }
  .radiobutton::after {
    content: "";
    position: absolute;
    cursor: pointer;
    width: 35px;
    height: 10px;
    border-radius: 25px;
    left: 115px;
    top: 4px;
  }
  .radiobuttoff::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 10px;
    border-radius: 25px;
    left: 156px;
    cursor: pointer;
    top: 4px;
  }
  input[type="radio"]:checked + label::after,
  input[type="radio"]:checked + label::before {
    background-color: #68b738;
    z-index: 99;
  }
  .tor {
    position: absolute;
    top: 2px;
    left: 110px;
    width: 84px;
    height: 12px;
    border: 1px solid #cdcdcd;
    border-radius: 6px;
    background: #ffffff;
    z-index: 9;
  }
}
@media (min-width: 768px) {
  .container {
    margin: 0 auto;
    width: 768px;
    /* border: 1px solid red; */
  }
  .nav-page {
    justify-content: space-around;
    padding: 25px;
  }
  .nav-image__img {
    display: none;
  }
  .nav-image__img-tablet {
    display: block;
  }
  .nav-image__img-desktop {
    display: none;
  }
  .nav-list__item {
    display: inline;
    margin-right: 15px;
    font-family: "OswaldNew";
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    padding-bottom: 10px;
  }
  .nav-list__item:first-child {
    border-bottom: 2px solid #68b738;
  }
  .intro-page {
    position: relative;
  }
  .intro-page__image {
    display: none;
  }
  .intro__text-capital {
    position: absolute;
    color: #000000;
    top: 0px;
    left: 70px;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }
  .intro__text {
    position: absolute;
    top: 200px;
    left: 50px;
    color: #000000;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
  }
  .intro__button {
    position: absolute;
    top: 150px;
    left: 90px;
    padding: 14px 26px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
  }
  .intro-page__image-image {
    position: relative;
  }
  .intro__image {
    display: none;
  }
  .intro__image-tablet {
    display: block;
    margin-top: 250px;
  }
  .intro__image-desktop {
  }
  .product-page {
    margin: 0 30px;
  }
  .product-item {
    position: relative;
  }
  .product-item__text-info {
    border: none;
    margin-left: 20px;
  }
  .product-item__text {
    margin-left: 20px;
  }
  .product-item__text-info {
    width: 377px;
  }
  .product-item__image-content {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    right: 50px;
    top: 30px;
  }
  .product-item__image-slim {
    display: none;
  }
  .product-item__text-slim__image-image-tablet {
    display: block;
    position: absolute;
    right: 30px;
    top: -13px;
  }
  .product-item__image-pro {
    display: none;
  }
  .product-item__image-pro-tablet {
    display: block;
    position: absolute;
    right: -28px;
    top: 40px;
  }
  .description-page {
    margin: 0 30px;
  }
  .description-list {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    border-bottom: 1px solid #e6e6e6;
  }
  .description-item__text-title {
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 50px;
  }
  .description-list__item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
  }
  .descriptiom-list__item-image {
    margin: 0px;
    padding: 25px;
  }
  .description-list__item {
    flex-direction: column;
    position: relative;
    margin-bottom: 90px;
    z-index: 1;
  }
  .description-list__item-text {
    text-align: left;
    width: 230px;
  }
  .description-list__item:nth-child(odd) {
    margin-right: 150px;
  }
  .description-list__item-text-number {
    font-family: "OswaldNew";
    font-weight: 400;
    font-size: 280px;
    display: block;
    line-height: 280px;
    width: 112px;
    height: 280px;
    color: #f2f2f2;
    position: absolute;
    margin: 0;
    top: -40px;
    left: 100px;
    z-index: -1;
  }
  .report {
    background-color: #ffffff;
  }
  .report-intro__text-capital {
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
  }
  .report-intro__text {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
    text-align: left;
  }
  .result {
    justify-content: left;
    background-color: #ffffff;
  }
  .result-item {
    margin-left: 13px;
  }
  .result-item__text-capital {
    padding: 17px 57px 20px;
  }
  .result-item__text-capital-day {
    padding: 15px 30px 20px;
  }
  .result-item__text {
    width: auto;
    left: 40px;
  }
  .result-item__text-day {
    width: 100px;
    left: 20px;
  }
  .progress {
    position: relative;
  }
  .progress__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: right;
    width: 190px;
    position: absolute;
    top: -85px;
    right: 10px;
  }
  .progress {
    background-image: linear-gradient(#ffffff 30%, #eaeaea 30% 100%);
  }
  .progress__image {
  }
  .progress__image-image {
    display: none;
  }
  .progress__image-image-tablet {
    display: block;
    width: 708px;
    height: 620px;
    margin: 0 auto;
  }
  .toggler-page {
    display: none;
  }
  .address-text {
    height: 200px;
    justify-content: space-between;
  }
  .address-text__text {
    margin: auto;
    width: 120px;
    text-align: right;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
  .address-text__text-capital {
    margin: auto;
    width: 130px;
    text-align: left;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
  }
  .address__image {
    display: none;
  }
  .address__image-tablet {
    display: block;
  }
  .address__image-desktop {
    display: none;
  }
  .contacts {
    display: flex;
    justify-content: space-around;
  }
  .footer-logo {
    display: block;
    border-bottom: 0px;
    margin: 10px;
  }
  .footer-logo__image {
    margin: 40px auto;
  }
  .footer-social {
    display: block;
    margin: 50px;
  }
  .footer-social__image {
    margin: 0 20px;
  }
  .footer-tag {
    display: block;
    position: relative;
    padding: 10px 0;
    border-top: 0px;
  }
  .footer-tag__text {
    font-family: "Arial";
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #444444;
    margin: 40px 20px 0px 0;
  }
  .footer-tag__image-image {
    position: absolute;
    top: 42px;
    right: -20px;
  }
}
@media (min-width: 1440px) {
  .container {
    margin: 0 auto;
    width: 1440px;
  }
  .body {
    margin: 0;
    padding: 0;
  }
  .nav-page {
    justify-content: space-between;
    z-index: 2;
    margin: 0 110px;
  }
  .nav-image__img-tablet {
    display: none;
  }
  .nav-image__img-desktop {
    display: block;
  }
  .nav-list__item {
    color: #ffffff;
  }
  .nav-list__item:first-child {
    border-bottom: 2px solid #ffffff;
  }
  .intro-page__image-image-desktop {
    display: block;
    position: relative;
    opacity: 0.3;
  }
  .intro-page {
    position: relative;
    height: 630px;
    margin: 0 110px;
  }
  .intro__image {
    display: none;
    background-color: #68b738;
  }
  .intro__image-tablet {
    display: none;
  }
  .intro__image-desktop {
    display: block;
    position: absolute;
    right: 220px;
    width: 552px;
    height: 499px;
    z-index: 1;
  }
  .intro-page__image-image {
    display: none;
  }
  .intro-page__image {
    display: block;
    position: absolute;
    width: auto;
    height: auto;
    top: -140px;
    right: -110px;
    z-index: -3;
  }
  .product-page {
    display: flex;
    justify-content: space-between;
    margin: 0 110px;
  }
  .product-item {
    padding: 0;
    margin: 10px;
    width: 550px;
  }
  .product-item:first-child {
  }
  .product-item__image-content {
    position: relative;
    width: 100px;
    height: 100px;
    top: auto;
    right: auto;
    margin: 10px;
  }
  .product-item__head {
    justify-content: space-around;
    margin: 40px 0;
  }
  .product-item__text-slim__image-image-tablet {
    width: 75px;
    height: auto;
    top: -10px;
    left: 10px;
  }
  .product-item__image-pro-tablet {
    width: 134px;
    top: 20px;
    left: -20px;
  }
  .product-item__text-capital {
    margin: auto 0;
  }
  .product-item__text-info {
    padding: 0;
    width: 430px;
    margin: 47px auto;
  }
  .product-item__text-slim {
    margin-left: 40px;
    margin-bottom: 60px;
  }
  .description-page {
    margin: 0 110px;
  }
  .description-list {
    justify-content: space-between;
  }
  .description-list__item:nth-child(odd) {
    margin-right: 0;
  }
  .example-page {
    background-image: linear-gradient(#ffffff 30%, #f2f2f2 30% 100%);
    display: flex;
    position: relative;
    justify-content: space-between;
  }
  .report {
    margin: 0 110px;
    background-image: linear-gradient(#ffffff 30%, #f2f2f2 30% 100%);
  }
  .result {
    margin: 0 110px;
    background-color: #f2f2f2;
  }
  .progress {
    background-image: linear-gradient(0.25turn, #f2f2f2 50%, #eaeaea 50% 100%);
  }
  .progress__text {
    margin: 0 110px;
  }
  .description {
    margin-top: 71px;
  }
  .description-list {
    border: none;
  }
  .description-item__text-title {
    margin-bottom: 61px;
  }
  .report {
    margin: 0 110px;
  }
  .report-intro__text {
    width: 436px;
    margin-top: 146px;
  }
  .result {
    margin: 0 110px;
    position: absolute;
    bottom: 150px;
  }
  .progress {
    position: relative;
  }
  .progress__text {
    position: absolute;
    width: 280px;
    top: 530px;
    right: 950px;
  }
  .address {
    position: relative;
  }
  .address-text {
    position: absolute;
    right: 52.78%;
    top: 23.75%;
    background-color: #ffffff;
    width: 570px;
  }
  .address__image-tablet {
    display: none;
  }
  .address__image-desktop {
    display: block;
  }
  .footer {
    margin: 0;
    padding: 0;
  }
  .contacts {
    background-color: #f2f2f2;
  }
}
