@media (min-width: 320px) {
  .container {
    margin: 0 auto;
    width: 320px;
  }
}
/* @media (min-width: 768px) {
  .container {
    margin: 0 auto;
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .container {
    margin: 0 auto;
    width: 1440px;
  }
} */
.body {
  margin: 0;
  padding: 0;
}
.nav-page {
  display: flex;
}

.intro-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}
.intro__text-capital {
  text-align: center;
  color: white;
  font-weight: 400;
  font-size: 36px;
  position: absolute;
  margin: 0;
}
.intro__text {
  text-align: center;
  color: white;
  font-weight: 400;
  font-size: 14px;
position: absolute;
  
}
.intro__image {
  position: relative;
  
}
.intro__image1 {
  
}
.intro__button {
  width: 280px;
  height: 40px;
  background-color: #68B738;
  font-weight: 400;
font-size: 14px;
line-height: 18px;
border: 0px;
margin: 20px;
color: white;
text-transform: uppercase;
}
.product-item {
  margin: 20px;
  padding: 20px;
  background-color: #F2F2F2;
}
.product-item__image {
  background-color: #68B738;
  border: 10px solid #68B738;
  border-radius: 40px;
}
.product-item__head {
 display: flex;
 width: auto;
 height: auto;
}
.description-list {
  padding: 0;
}
.description-list__item {
  display: flex;
  list-style: none;
}
.description-list__image {
  border: 20px solid #68B738;
  background-color: #68B738;
  margin: 20px;
}
.example2 {
  background-color: #F2F2F2;
}
.report-intro {
 padding: 20px;
}
.report-intro__text-capital {
  font-weight: 400;
  font-size: 36px;
  text-align: left;
  
}
.report-intro__text {
  font-weight: 400;
  font-size: 14px;
  text-align: left;
}
.result {
  display: flex;
  justify-content: center;
}
.progress__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
.progress__image {
  margin: 30px;
}
.address-text {
  display: flex;
  padding: 20px;
}
.address-text__text-capital {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  
}
.address-text__text {
  font-weight: 400;
  font-size: 14px;
}
.address__image {
  width: 100%;
}

/* .intro__image {
  position: relative;
  width: auto;
}
.intro__text-capital {
  
  position: absolute;
  top: 100px;
  color: white;
  font-weight: 400;
  font-size: 36px;
  text-align: center;

}
.intro__text {
  position: absolute;
  top: 200px;
  color: white;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
} */


